body {
    margin: auto;
    text-align:center;
}

img {
    width: 175px;
}

.btn {
    margin: 5px;
    border-width: 3px;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

button,
button:active,
button:focus,
button:hover,
.btn,
.btn:active,
.btn:focus,
.btn:hover {
    outline: none !important;
    box-shadow: none !important;
}
